<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/showrecord.css">
    <title>Firing Range Efficience - Dashboard</title>
    <script src="https://kit.fontawesome.com/c57ecf9603.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="header">
        <div class="pic">
            pic
        </div>
        <div class="heading">
            Showing All Records
        </div>
        <div class="icons">
            <div class="settings">
                <a href=""><i class="fa-solid fa-gear"></i></a>
            </div>
        </div>
    </div>
    <div class="body">

        <div class="navbar">
            <a class="nav-content active" href="/dashboard">Dashboard</a>
            <br>
            <a class="nav-content" href="/add_new_entry">Add New Entry</a>
            <a class="nav-content" href="/upload_image">Upload Image</a>
            <a class="nav-content" href="/show_record">Show Record</a>
            <a class="nav-content" href="/calculate_grouping">Calculate Grouping</a>
            <a class="nav-content" href="/analysis_error">Analysis Error</a>
            <a class="nav-content" href="/report">Report</a>
            <br>
            <a class="nav-content signout" href="/signout">Sign Out</a>
        </div>
        <div class="content">
            <div class="table">
                
               <table>
                {% for record in records %}
                <tr>
                    <th style="width: 50%;"> {{ record.date }} - {{ record.sub_label }}</th>
                </tr>
                <tr>
                    <td> <img height="200px" width="200px" src="{{ url_for('display_image',soinik_number=record.soinik_number,date=record.date.replace('/','-'),file_name=record.file_name) }}" >
                        </td>
                </tr>
                {% endfor %}

               </table>
               
                
                <div class="pagenum">
                    <a class="numbers" href="">
                        1
                    </a>
                    <a class="numbers" href="">
                        2
                    </a>
                    <a class="numbers" href="">
                        3
                    </a>
                    <a class="numbers" href="">
                        4
                    </a>

                </div>
            </div>
        </div>

    </div>
    <div class="footer">

    </div>

</body>

</html>